<!DOCTYPE html>
<html>
	<head>
		<title>{{name}}</title>
		<link rel="stylesheet" href="{{style}}" />
	</head>
	<body>
		<div class="title">
			<img src="/static/banner/1.jpg" /><br />
			{{name}}
		</div>
		<table class="post-form">
			<tr>
				<td>Name</td>
				<td><input type="text" class="form-input" /></td>
			</tr>
			<tr>
				<td>Subject</td>
				<td><input type="text" class="form-input" /></td>
			</tr>
			<tr>
				<td>Email</td>
				<td><input type="text" class="form-input" /></td>
			</tr>
			<tr>
				<td>Comment</td>
				<td><textarea></textarea></td>
			</tr>
			<tr>
				<td>File</td>
				<td><input type="file" /></td>
			</tr>
			<tr>
				<td>Submit</td>
				<td><input type="submit" class="form-input" value="Post" /></td>
			</tr>
		</table>
	</body>
</html>
